<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  
  IMPORTANT: This file should NOT contain credentials.
  Copy Web.config.local to Web.config for local development.
-->

<configuration>
    <connectionStrings>
        <!-- Connection string moved to environment variables or Web.config.local for security -->
        <!-- Set BBQ_DB_CONNECTION_STRING environment variable or use Web.config.local -->
        <add name="bbqConnectionString" connectionString="" providerName="System.Data.SqlClient" />
    </connectionStrings>
    <appSettings>
        <!-- SMTP settings moved to app settings for easier configuration -->
        <!-- Set via environment variables or Web.config.local -->
        <add key="SmtpHost" value="" />
        <add key="SmtpPort" value="587" />
        <add key="SmtpUsername" value="" />
        <add key="SmtpPassword" value="" />
        <add key="SmtpFromEmail" value="" />
        <add key="SmtpEnableSsl" value="true" />
    </appSettings>
    <system.web>
        <compilation debug="false" targetFramework="4.0" />    
        <!-- Enable custom errors for production -->
        <customErrors mode="RemoteOnly" defaultRedirect="~/Error.aspx">
            <error statusCode="404" redirect="~/NotFound.aspx" />
            <error statusCode="500" redirect="~/Error.aspx" />
        </customErrors>
        <!-- Add security headers -->
        <httpRuntime enableVersionHeader="false" />
    </system.web>
    <system.webServer>
        <httpProtocol>
            <customHeaders>
                <!-- Security headers -->
                <add name="X-Content-Type-Options" value="nosniff" />
                <add name="X-Frame-Options" value="SAMEORIGIN" />
                <add name="X-XSS-Protection" value="1; mode=block" />
            </customHeaders>
        </httpProtocol>
        <!-- Force HTTPS -->
        <rewrite>
            <rules>
                <rule name="Redirect to HTTPS" stopProcessing="true">
                    <match url="(.*)" />
                    <conditions>
                        <add input="{HTTPS}" pattern="^OFF$" />
                    </conditions>
                    <action type="Redirect" url="https://{HTTP_HOST}/{R:1}" redirectType="Permanent" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
    <system.net>
        <mailSettings>
            <!-- SMTP configuration now uses appSettings -->
            <smtp from="">
                <network host="" password="" port="587" userName="" enableSsl="true"/>
            </smtp>
        </mailSettings>
    </system.net>
</configuration>
